.main__div {
  /* display: flex; */
  margin-top: 50px;
  /* height:300px; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  justify-content: center;
  /* background-color: red; */
}

.searchbar__div {
  border: 1px solid black;
  border-radius: 5px;
  /* height: 30px; */
  /* padding-top: 10px; */
  text-align: center;
  overflow: hidden;
}

.expanded__div {
  border: 1px solid grey;
  height: 150px;
  overflow: auto;
}

.option__select {
  width: 300px;
  text-align: center;
}

.up-arrow:after {
  display: inline-block;
  content: " ";
  margin-left: 4px;
  margin-bottom: 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.down-arrow:after {
  display: inline-block;
  content: " ";
  margin-left: 4px;
  margin-bottom: 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.block__label {
  display: block;
}
